.textareas{
    position: absolute;
    right: 0px;
}

#senderDev{
    float:left;

}
#recipient{
    float:left;
    clear:left;
}

#messageIn{
    float:left;
    clear:left;
}

#senderDev2{
    float:left;
    clear:left;}

#number{
    float:left;
    clear:left;}

#date{
    float:left;
    clear:left;}

#duration{
    float:left;
    clear:left;}
#calltype{
    float:left;
    clear:left;}
#callAck{
    float:left;
    clear:left;}
#execute{
    float:left;
    clear:left;}
/*}
table{
    overflow-y:scroll;
}*/

div.config{
    border-top: 5px solid #337ab7;
    background-color: #f1f1f1;
    border-radius: 5px;
    height: 400px;

}
.body{
    background-color: #3aafa9;
    height: 100%; }

