{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='headerBar.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='navSide.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='structures.css')}}">
{% endblock %}

{% block title %}
Eagle Eye | device Configs
{% endblock %}


{% block navbar %}
<div class="header">
  <a href="#default" class="logo">CompanyLogo</a>
  <div class="navbar-header navbar-right">
          <ul class="nav navbar-nav">
              <p class="navbar-text">Hello {{ name }}</p>
              <li><a href="{{url_for('userLogout')}}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logout</a> </li>
          </ul>
  </div>
</div>
<div class="container-fluid" role="navigation" id="navtabs">
  <ul class="nav nav-tabs nav-justified" role="tablist">
      <li role="presentation"><a href="{{ url_for('home') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> HOME</a></li>
      <li role="presentation"><a href="{{ url_for('devInfo') }}"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> DEVICE INFORMATION</a></li>
      <li role="presentation"><a href="{{ url_for('devData') }}"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> DEVICE DATA</a></li>
      <li role="presentation"><a href="{{ url_for('devOp') }}"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> DEVICE OPERATIONS</a></li>
      <li class="active" role="presentation"><a href="{{ url_for('devConfig') }}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> DEVICE CONFIGURATIONS</a></li>
  </ul>
</div>
<div class="col-sm-12">
    <form class="navbar-form navbar-right">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
        <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
    </form>
</div>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="config col-sm-4" id="wifistate">
        <h2>Wifi State</h2>
        <label for="sel3">Select device:</label>
        <select class="form-control" id="sel3">
            {% for row in range(count) %}
            <option>{{ devsId[row][0] }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="button" class="btn btn-primary" value="Check">
    </div>
    <div class="col-sm-1"></div>
    <div class="config col-sm-3" id="decomm">
        <h2>Decommission</h2>
        <label for="sel2">Select device:</label>
        <select class="form-control" id="sel2">
            {% for row in range(count) %}
            <option>{{ devsId[row][0] }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="button" class="btn btn-primary" value="Decommission">
    </div>
    <div class="col-sm-1"></div>
    <div class="config col-sm-3" id="datastate">
         <h2>Wifi State</h2>
        <label for="sel1">Select device:</label>
        <select class="form-control" id="sel1">
            {% for row in range(count) %}
            <option>{{ devsId[row][0] }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="button" class="btn btn-primary" value="Check">
    </div>
</div>
{% endblock %}

